.about {
  background-color: $color-porcelain;
  padding-bottom: 100px;

  @include vp-1023 {
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-bottom: 78px;
  }
}

.about__wrapper {
  display: flex;
}

.about__img {
  flex: 0 0 150px;
  width: 150px;
  margin-right: 100px;

  @include vp-1023 {
    margin-right: 25px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about__description h2 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-dark-blue;
  margin: 0;
  margin-bottom: 13px;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 28px;
  }
}

.about__description p {
  line-height: 22px;
  color: $color-dark-blue;
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;;
  }
}

.about__description span {
  @include vp-767 {
    display: none;
  }
}
