.form h2 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 140.62%;
  }
}

.form__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 12px;
  }
}

.form p {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-top: 0;
    margin-bottom: 26px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;
    margin-bottom: 35px;
  }
}

.form input {
  border: none;
  width: 275px;
  border-radius: 3px;
  padding: 15px;
  background: rgba(4, 20, 39, 0.15);
  margin-bottom: 20px;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.form input:hover {
  box-shadow: 0 0 6px $color-default-white;
}

.form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.form textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
}

.form textarea {
  border: none;
  border-radius: 3px;
  padding: 22px 17px;
  background: rgba(4, 20, 39, 0.15);
  margin-right: 30px;
  margin-bottom: 27px;
  width: 100%;
  height: 155px;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 23px;
    height: 180px;
    margin-bottom: 22px;
  }
}

.form textarea:hover {
  box-shadow: 0 0 6px $color-default-white;
}

.form__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 553px;

  @include vp-1023 {
    max-width: 586px;
  }

  @include vp-767 {
    display: block;
  }
}

.form__submit--popup {
  display: block;
}

.form__checkbox {
  position: relative;
  margin-top: 10px;
}

.form__item--popup {
  display: flex;
  flex-wrap: wrap;
}

.form__item--popup input {
  display: block;
  width: 100%;
}
