.main {
  min-height: 880px;
  padding-left: 150px;
  color: $color-athens-aray;
  width: 100%;
  background-color: $color-dark-blue;
  background-image: url("../img/background/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/main-bg@2x.jpg");
    background-size: cover;
  }

  @include vp-1023 {
    min-height: 640px;
    padding-left: 0;
  }

  @include vp-767 {
    min-height: 560px;
  }
}

.main h2 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 303px;
  padding-left: 50px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    padding-top: 200px;
    font-size: 36px;
    line-height: 42px;
  }
}

.main p {
  font-size: 22px;
  line-height: 155%;
  margin-bottom: 67px;
  padding-left: 50px;
  max-width: 670px;

  @include vp-767 {
    font-size: 14px;
  }
}
