.page__body {
  margin: 0;
  padding: 0;
  font-family: "PT Mono", "Consolas", "Courier News", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.page__body--lock {
  overflow: hidden;
}
