.services {
  padding-top: 55px;
  padding-bottom: 142px;
  background-color: $color-dark-blue;
  font-family: 'Roboto Condensed';
  color: $color-default-white;

  @include vp-1023 {
    padding-top: 47px;
    padding-bottom: 76px;
  }

  @include vp-767 {
    padding-top: 38px;
    padding-bottom: 86px;
  }
}

.services__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-top: 10px;
  margin-bottom: 53px;

  @include vp-1023 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    display: none;
  }
}

.services__title--hidden {
  display: none;

  @include vp-767 {
    display: block;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 28px;
  }
}


.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.services__card {
  position: relative;
  max-width: 350px;
  background-color: $color-gray;

  @include vp-1023 {
    max-width: 100%;
    height: 250px;
  }
}

.services__card:hover img {
  transform: scale(1.03);
}

.services__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__card p {
  position: absolute;
  top: 27px;
  left: 40px;
  max-width: 190px;
  color: $color-default-white;
  font-size: 20px;
  line-height: 30px;

  @include vp-1023 {
    top: 18px;
    left: 45px;
  }

  @include vp-767 {
    max-width: 170px;
    font-size: 18px;
    top: 9px;
    left: 30px;
  }
}
